<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Clasificación Celta - Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <slot></slot>
</body>
</html>